.main {
    padding-top: 100px;
}
.picture-section {
}
.picture-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.moya-cat {
    width: 500px;
    height: auto;

    &.hidden {
        opacity: 0;
    }
}
.toggle-button {
}
